<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Добавить комнату</h3>
<div class="container">
    <form th:action="@{/main/addRoom}"
          th:object="${room}" method="post">
        <label>
            <input th:field="${room.id}" placeholder="id" hidden>
        </label>
        <label>
            <input th:field="${room.name}" placeholder="Название комнаты">
        </label>

        <label>
            <select th:field="${room.teacher}">
                <option value=""> Преподаватель </option>
                <option th:each="teacher : ${teachers}"
                        th:text="${teacher.getTeacherName()}"
                        th:value="${teacher.getId()}">
                </option>
            </select>
        </label>

        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>