<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="${group.getId()}"></h3>
<h3 th:text="${group.getName()}"></h3>

<div th:if="${group.getStudents().size() > 0}"  th:each="student : ${group.getStudents()}">
    <p th:text="${student.getName()}"></p>
</div>
<div th:unless="${group.getStudents().size() > 0}">
    <p>Студентов нет</p>
</div>

<div th:if="${group.getRooms().size() > 0}"  th:each="room : ${group.getRooms()}">
    <p th:text="${room.getName()}"></p>
</div>
<div th:unless="${group.getRooms().size() > 0}">
    <p>Комнат нет</p>
</div>

<div th:if="${group.getSubjects().size() > 0}"  th:each="subject : ${group.getSubjects()}">
    <p th:text="${subject.getName()}"></p>
</div>
<div th:unless="${group.getSubjects().size() > 0}">
    <p>Предметов нет</p>
</div>
<div th:if="${group.getTasks().size() > 0}"  th:each="task : ${group.getTasks()}">
    <p th:text="${task.getName()}"></p>
</div>
<div th:unless="${group.getTasks().size() > 0}">
    <p>Заданий нет</p>
</div>
<div th:if="${group.getTeachers().size() > 0}"  th:each="teacher : ${group.getTeachers()}">
    <p th:text="${teacher.getName()}"></p>
</div>
<div th:unless="${group.getTeachers().size() > 0}">
    <p>Преподавателей нет</p>
</div>
</body>
</html>