<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class=" table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
    </tr>
    </thead>
    <span>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.first_name}"></td>
            <td th:text="${teacher.last_name}"></td>
            <td th:text="${teacher.patronymic}"></td>
        </tr>
        </tbody>
    </span>
</table>
<span th:text="${'Всего преподавателей ' + totalTeachers}"></span>
</body>
</html>