<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Прикрепить группу</title>
</head>
<body>
<h3>Прикрепить группу</h3>
<div class="container">
    <form th:action="@{/teacher/addGroup}" method="post">

        <div th:field="${subject.groups}">
            <input name="group" th:each="group : ${groups}"
                   th:field="*{groups}"
                   th:text="${group.name}"
                   th:value="${group.id}"
                   type="checkbox">
        </div>
        <label>
            <input th:field="${subject.id}" placeholder="id" hidden>
        </label>
        <label>
            <input th:field="${subject.name}" placeholder="name" hidden>
        </label>

        <label>
            <input th:field="${subject.teacher}" placeholder="teacher" hidden>
        </label>

        <label>
            <input th:field="${subject.room}" placeholder="room" hidden>
        </label>

        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>