<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о группе</title>
</head>
<body>
  <p th:text="${group.name}"></p>
  <span th:each="student : ${studentsInGroup}">
    <div>
        <span th:text="${student.name}"></span>
        <p>Задания</p>
<!--        <span th:each="subject : ${student.getSubjects()}">-->
<!--            <div th:text="${subject.name}"></div>-->
<!--        </span>-->
<!--        <p>Задания</p>-->
<!--        <p th:text="${group.tasks}"></p>-->
        <span th:each="task : ${groupTasks}">
            <div th:text="${task.name}"></div>
        </span>
    </div>
  </span>
</body>
</html>