<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о группе</title>
</head>
<body>
  <p th:text="${group.name}"></p>
  <span th:each="student : ${students}">
    <div>
        <span th:text="${student.getName()}"></span>
        <p>Предметы</p>
        <p th:text="${student.getSubjects()}"></p>
        <span th:each="subject : ${student.getSubjects()}">
            <div th:text="${subject.name}"></div>
        </span>
        <p>Задания</p>
        <p th:text="${student.getTasks()}"></p>
        <span th:each="task : ${student.getTasks()}">
            <div th:text="${task.name}"></div>
        </span>
    </div>
  </span>
</body>
</html>