<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Добавить группу</h3>
<div class="container">
    <form th:action="@{/main/addGroup}"
          th:object="${group}" method="post">
        <input th:field="${group.id}" placeholder="id" hidden>
        <input th:field="${group.name}" placeholder="Название группы">

        <div th:field="${group.students}">
            <input name="students" th:each="student : ${students}"
                   th:field="*{students}"
                   th:text="${student.getName()}"
                   th:value="${student.id}"
                   type="checkbox">
        </div>

        <div th:field="${group.rooms}">
            <input name="rooms" th:each="room : ${rooms}"
                   th:field="*{rooms}"
                   th:text="${room.name}"
                   th:value="${room.id}"
                   type="checkbox">
        </div>
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>