<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Добавить Материалы</h3>
<div class="container">
    <form th:action="@{/main/addMaterial}"
          th:object="${material}" method="post">
        <label>
            <input th:field="${material.id}" placeholder="id" hidden>
        </label>
        <label>
            <input th:field="${material.name}" placeholder="Название материала">
        </label>

        <label>
            <select th:field="${material.teacher}">
                <option value=""> Преподаватель </option>
                <option th:each="teacher : ${teachers}"
                        th:text="${teacher.name}"
                        th:value="${teacher.getId()}">
                </option>
            </select>
        </label>

        <label>
            <select th:field="${material.subject}">
                <option value=""> Предмет </option>
                <option th:each="subject : ${subjects}"
                        th:text="${subject.name}"
                        th:value="${subject.getId()}">
                </option>
            </select>
        </label>

        <label>
            <input type="text" th:field="${material.text}" placeholder="Текст">
        </label>

        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>