<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{'/main/addGroup/'}">1.Добавить группу</a>
<a th:href="@{'/main/allGroups/'}">1.Список группу</a>
<a th:href="@{'/main/addStudent/'}">2.Добавить студента</a>
<a th:href="@{'/main/allStudents/'}">2.Список студентов</a>
<a th:href="@{'/main/addTeacher/'}">3.Добавить преподавателя</a>
<a th:href="@{'/main/allTeachers/'}">3.Список преподавателей</a>
<a th:href="@{'/main/addRoom/'}">4.Добавить комнату</a>
<a th:href="@{'/main/allRooms/'}">4.Список комнат</a>
<a th:href="@{'/main/addTask/'}">5.Добавить задание</a>
<a th:href="@{'/main/allTasks/'}">5.Список заданий</a>
<a th:href="@{'/main/addMaterial/'}">6.Добавить материалы</a>
<a th:href="@{'/main/allMaterials/'}">6.Список материалов</a>

</body>
</html>