<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование группы</title>
</head>
<body>
<div class="container">
    <form th:action="@{/main/editGroup}"
          th:object="${group}"method="post">
        <input th:field="${group.id}" placeholder="*id" hidden>
        <input type="text" th:field="${group.name}" placeholder="Название">
        <div th:field="${group.students}">
            <input name="students" th:each="student : ${students}"
                   th:field="*{students}"
                   th:text="${student.getName()}"
                   th:value="${student.id}"
                   th:checked="${#lists.contains(studentsInGroup, student)}"
                   type="checkbox">
        </div>
        <button type="submit">Готово</button>
    </form>
</div>
</body>
</html>