<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class=" table table-hover">
    <thead>
    <tr>
<!--        <th>ID</th>-->
        <th>Название группы</th>
        <th>Действия</th>
        <th>Количество студентов</th>
    </tr>
    </thead>
    <span>
        <tbody>
        <tr th:each="group : ${groups}">
<!--            <td th:text="${group.id}"></td>-->
            <td th:text="${group.name}"></td>
            <td>
                <a th:href="@{'/main/editGroup/' + ${group.id}}" th:text="Редактировать"></a>
                <a th:href="@{'/main/infoGroup/' + ${group.id}}" th:text="Информация"></a>
                <a th:href="@{'/main/removeGroup/' + ${group.id}}" th:text="Удалить"></a>

            </td>
            <td>
<!--                <span th:if="${group.getStudents().isEmpty()}">-->
<!--                    <p>Студентов нет</p>-->
<!--                </span>-->
<!--                <span th:if="${!group.getStudents().isEmpty()} ">-->
<!--&lt;!&ndash;                    <p th:text="${'Студентов ' + group.getStudents().size()}"></p>&ndash;&gt;-->
<!--                    <p th:text="${group.getStudents().size()}"></p>-->
            <span>
                 <p th:text="${group.getStudents().size()}"></p>
            </span>

            </td>

<!--            <span th:if="${!group.getStudents().isEmpty()} ">-->
<!--                    <table>-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>ID</th>-->
<!--                            <th>Имя</th>-->
<!--                            <th>Фамилия</th>-->
<!--                            <th>Отчество</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                                <tr th:each="student : ${group.getStudents()}">-->
<!--                                    <td th:text="${student.id}"></td>-->
<!--                                    <td th:text="${student.first_name}"></td>-->
<!--                                    <td th:text="${student.last_name}"></td>-->
<!--                                    <td th:text="${student.patronymic}"></td>-->
<!--                                </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </span>-->
<!--        </tr>-->
<!--        </tbody>-->
    </span>
</table>
<span th:text="${'Всего групп ' + totalGroups}"></span>
</body>
</html>