<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class=" table table-hover">
    <thead>
    <tr>
        <th>Студент</th>
        <th>Действия</th>
    </tr>
    </thead>
    <span>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.getName()}"></td>
            <td>
                <a th:href="@{'/main/editStudent/' + ${student.id}}" th:text="Редактировать"></a>
                <a th:href="@{'/main/infoStudent/' + ${student.id}}" th:text="Информация"></a>
                <a th:href="@{'/main/removeStudent/' + ${student.id}}" th:text="Удалить"></a>
            </td>
            <td>
            </td>
    </span>
</table>
<span th:text="${'Всего студентов ' + totalStudents}"></span>
</body>
</html>